---
import { ProductList } from '@/components/products/ProductList';
import ProductsSidebar from '@/components/products/ProductsSidebar.astro';
import Pagination from '@/components/shared/Pagination.astro';
import type { ProductWithCategoriesAndImages } from '@/shared/types';

const {
  categories,
  products,
  totalPages,
  pathname,
  currentPage,
  categorySlug,
} = Astro.props;
---

<div class='container mx-auto max-w-[1200px]'>
  <div class='space-y-6'>
    <h2 class='text-lg font-medium'>Productos</h2>
    <div class='space-y-4'>
      <div class='flex gap-4 md:flex-row'>
        <ProductsSidebar categories={categories} pathname={pathname} />

        <main class='w-full'>
          <ProductList
            products={products as unknown as ProductWithCategoriesAndImages[]}
          />
          <Pagination
            totalPages={totalPages}
            currentPage={currentPage}
            categorySlug={categorySlug}
          />
        </main>
      </div>
    </div>
  </div>
</div>
