---
import AuthSection from '@/components/auth/AuthSection';
import { prisma } from '@/lib/prisma';
import type { Settings } from '@/shared/types';

const navBarLinks = [
  { name: 'home', href: '/' },
  { name: 'Categorías', href: '/categorias' },
  { name: 'Productos', href: '/productos' },
  { name: 'Sobre nosotros', href: '/sobre-nosotros' },
  { name: 'Contacto', href: '/contacto' },
];

// Acceder directamente a la base de datos en lugar de usar el servicio HTTP
const settings = (await prisma.setting.findMany({
  select: {
    id: true,
    key: true,
    value: true,
    createdAt: true,
    updatedAt: true,
  },
})) as Settings[];

const homeSettings = settings.find((s) => s.key === 'home');
const home = JSON.parse(homeSettings?.value || '{}');

const logoImage = home.menu?.logoId
  ? await prisma.image.findUnique({
      where: { id: home.menu.logoId },
      select: { url: true, alt: true },
    })
  : null;

console.log('logoImage', logoImage);
---

<nav
  class='sticky top-0 z-50 w-full border-b bg-background/70 backdrop-blur-sm'
>
  <div class='container flex justify-between items-center p-6 mx-auto'>
    <div class='text-gray-300'>
      <div class='flex items-center justify-center'>
        <img src={logoImage.url} alt='logoImage.alt' class='w-10 h-10' />
        <a href='/' class='text-2xl font-bold'>
          {home.menu.siteName}
        </a>
      </div>
    </div>

    <div class='flex items-center justify-center text-gray-300'>
      {
        navBarLinks.map((link) => (
          <div>
            <a href={link.href} class='mx-1.5 sm:mx-6'>
              {link.name}
            </a>
            <div
              class='border-b-2 border-transparent mx-4'
              data-href={link.href}
              id={`menu-line-${link.href.replace('/', 'home')}`}
            />
          </div>
        ))
      }
    </div>

    <AuthSection client:load />
  </div>
</nav>

<script>
  function setActiveMenu() {
    const currentPath = window.location.pathname;

    // Limpiar todas las líneas
    document.querySelectorAll('[data-href]').forEach((el) => {
      el.classList.remove('border-blue-500');
      el.classList.add('border-transparent');
      el.removeAttribute('style');
    });

    // Activar la línea actual
    const activeElement = document.querySelector(
      `[data-href="${currentPath}"]`
    ) as HTMLElement;
    if (activeElement) {
      activeElement.classList.remove('border-transparent');
      activeElement.classList.add('border-blue-500');
      activeElement.style.viewTransitionName = 'menu-line';
    }
  }

  // Ejecutar al cargar y después de transiciones
  setActiveMenu();
  document.addEventListener('astro:after-swap', setActiveMenu);
</script>
