---
import { Database } from '@/lib/db';
import Subtitle from '@/components/shared/Subtitle.astro';
import CategoryCard from '@/components/home/CategoryCard.astro';

const { featuredCategories } = Astro.props;

const categories = await Database.getAllCategories({ featured: true });
---

<section class='container relative px-4 py-16 md:px-20 md:py-24 lg:py-32'>
  <div class='flex flex-col items-center gap-12 lg:gap-16'>
    <div class='text-center w-full'>
      <Subtitle subtitle={featuredCategories.title} />
      {
        featuredCategories.text && (
          <div class='text-lg leading-relaxed text-muted-foreground md:text-xl mt-8 w-full'>
            <p class='text-center'>{featuredCategories.text}</p>
          </div>
        )
      }

      <div class='flex flex-wrap justify-center gap-20 pt-24'>
        {
          categories.map((category) => (
            <div class='img-appear group relative w-64'>
              <CategoryCard category={category} />
            </div>
          ))
        }
      </div>

      {
        featuredCategories.buttonLink && featuredCategories.buttonText && (
          <div class='mt-20 text-center'>
            <button
              class='border border-input bg-background hover:bg-accent hover:text-accent-foreground inline-flex
          items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background
          transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring
          focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none
          [&_svg]:size-4 [&_svg]:shrink-0 px-6 py-4'
            >
              <a href={featuredCategories.buttonLink}>
                <span class='text-xl text-orange-500'>
                  {featuredCategories.buttonText}
                </span>
              </a>
            </button>
          </div>
        )
      }
    </div>
  </div>
</section>
