---
import Hero from '@/components/home/Hero.astro';
import { ReactSlider } from './ReactSlider';
import FeaturedProducts from '@/components/home/FeaturedProducts.astro';
import { Database } from '@/lib/db';
import { turso } from '@/lib/turso';
import type { Settings } from '@/shared/types';
import Testimonials from '@/components/home/Testimonials';
import { ServicesSection } from '@/components/home/Services';

export interface Slide {
  image: number;
  title: string;
  recommended: false;
  text: string;
  buttonText: string;
  buttonLink: string;
  imageDet: { url: string; alt: string };
}

export interface Service {
  id: number;
  image: number;
  title: string;
  description: string;
  imageDet: { url: string; alt: string };
}

export interface Services {
  title: string;
  subtitle: string;
  services: Service[];
}

const settings = (await Database.getAllSettings()) as unknown as Settings[];

const homeSettings = settings.find((s) => s.key === 'home');

const parsedValue = JSON.parse(homeSettings?.value || '[]');
const slider = parsedValue.slider;

const sliderWithImages = await Promise.all(
  slider.map(async (slide: Slide) => {
    // Si la diapositiva tiene un ID de imagen, busca los datos.
    if (slide.image) {
      const imageData = await turso
        .execute({
          sql: 'SELECT url, alt FROM Image WHERE id = ?',
          args: [slide.image],
        })
        .then((result) => result.rows[0] || null);

      // Si la imagen se encuentra, actualiza el objeto del slide.
      if (imageData) {
        return {
          ...slide,
          imageDet: {
            url: imageData.url,
            alt: imageData.alt,
          },
        };
      }
    }
    // Si no hay imagen o no se encuentra, devuelve el slide original.
    return slide;
  })
);

const hero = parsedValue.hero;
const heroImageData = await turso
  .execute({
    sql: 'SELECT url, alt FROM Image WHERE id = ?',
    args: [hero.imageId],
  })
  .then((result) => result.rows[0] || null);

const heroImageLogoData = await turso
  .execute({
    sql: 'SELECT url, alt FROM Image WHERE id = ?',
    args: [hero.logoId],
  })
  .then((result) => result.rows[0] || null);

const featuredProducts = parsedValue.featuredProducts;

const testimonials = parsedValue.testimonials;

const services = parsedValue.services;

const servicesWithImages = await Promise.all(
  services.services.map(async (service: Service) => {
    if (service.image) {
      const imageData = await turso
        .execute({
          sql: 'SELECT url, alt FROM Image WHERE id = ?',
          args: [service.image],
        })
        .then((result) => result.rows[0] || null);

      // Si la imagen se encuentra, actualiza el objeto del slide.
      if (imageData) {
        return {
          ...service,
          imageDet: {
            url: imageData.url,
            alt: imageData.alt,
          },
        };
      }
    }
    // Si no hay imagen o no se encuentra, devuelve el slide original.

    return service;
  })
);
---

<div id='container'>
  <section>
    <ReactSlider client:load slider={sliderWithImages} />
    <Hero
      hero={hero}
      heroImageData={heroImageData}
      heroImageLogoData={heroImageLogoData}
    />
    <FeaturedProducts featuredProducts={featuredProducts} />

    <ServicesSection
      title={services.title}
      subtitle={services.subtitle}
      services={servicesWithImages}
    />

    <Testimonials testimonials={testimonials} />
  </section>
</div>
